* {
    margin: 0;
    padding: 0;
    box-sizing: border-box

}
body{ 
    background-color: skyblue;
}
li {
    list-style-type:none;
}
#number {
    padding : 10px;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.blue {
    color: blue;
}
